<!DOCTYPE html>
%html
  %head
    %title XdMailCompiler
    = stylesheet_link_tag     'application', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag     '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css', |
                              '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'
    = javascript_include_tag  '//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js',          |
                              '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js', |
                              'js/vendor/jquery.ui.widget', 'js/jquery.fileupload', 'upload'
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-inverse.navbar-default{role: :navigation}
        .navbar-header
          =link_to '#', class: 'navbar-brand' do
            =image_tag 'xd-logo-bw.png', height: '30'
      =flash[:alert]
      = yield