<!DOCTYPE html>
%html
  %head
    %title XdMailCompiler
    = stylesheet_link_tag     'application', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag     '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css',   |
                              'http://code.jquery.com/ui/1.9.2/themes/blitzer/jquery-ui.css',      |
                              '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', |
                              'source/jquery.fancybox.css'
    = javascript_include_tag  '//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js',          |
                              'http://code.jquery.com/ui/1.10.3/jquery-ui.min.js',                      |
                              '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js', |
                              'source/jquery.fancybox.pack.js', |
                              'js/vendor/jquery.ui.widget',     |
                              'global'
    = yield :javascripts
    = yield :stylesheets
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-inverse.navbar-default{role: :navigation}
        .navbar-header
          =link_to '/', class: 'navbar-brand' do
            =image_tag 'xd-logo-bw.png', height: '30'
      =flash[:alert]
      = yield